/********* Site Wide**********/

body{
	margin:0;
	padding:0;
	font-family: verdana, sans-serif; 
	font-size: 8.75pt}

img{
	border:0;
}

#header{
	width:760px;
	margin:0 auto;
}

#header h2{
	display:inline;
	padding:10px;
}

#logout {
	float:right;
	padding:10px;
}

/********* Tab Styles **********/

#topbarlinks{
	float:right;
	clear:right;
	margin-top:10px;
}

#topbarlinks a{
	display:inline-block;
	line-height:2em;
	padding:5px;
	font-weight:bold;
	color:#333;
	text-decoration:none;
}

#topbarlinks a:hover{
	color:#333;
	background-color:#EFF;
}

/******* Divider ***********/

#divide{
	background-color:#7B4;
	color:#FFF;
	font-weight:bold;
	width:100%;
	height:30px;
	line-height:30px;
	clear:both;
}

#divide a{
	color:#FFF;
	font-weight:bold;
	vertical-align:middle;
	padding:0 15px 0 15px;
}

#divide div{
	width:760px;
	margin:0 auto;
}

#content{
	width:620px;
	margin:0 auto;
	padding:10px;
}

/********* Login Page *********/

#container{
	width:350px;
	margin:0 auto;
}

#login_form{
	background-color:#7B4;
	color:#FFF;
	padding:10px;
	font-size:8pt;
	margin-top:10%;
}

#login_form img{
	padding-left:33%;
	
}
#login_form input{
	line-height:1.75em;
	font-size:11pt;
}

#admin_links{
	margin-top:10px;
}

#notice p{
	color:red;
	font-weight:bold;
	font-size:10pt;
}

/*********** View site survey info **************/

#status {
	color:red;
	font-weight:bold;
	font-size:1.2em;
	text-align:left;	
}


.label{
	text-align:right;
}

#note_section{
	float:right;
	width:300px;
	padding:10px;
}

#notes{
	border:1px solid gray;
	padding:10px;
}

#notes a{
	font-size:8.75px;
}


#helper {
	background-color:#eff;
	border:1px solid #ccc;
	padding:5px;
}

/* Unit Statuses */

.Vacant {
	background-color:#CCC;
}

.Occupied{
	background-color:#7B4;
}

.Unclean{
	background-color:blue;
}

.Late{
	background-color:yellow;
}

.Damage{
	background-color:black;
}

.Locked{
	background-color:red;
}

.System{
	background-color:#E83;
}

form fieldset{
	color:gray;
	border-style: solid none none none;
}
form legend{
	font-weight:bold;
	color:black;
}
form label{
	color:black;
}

#map{
	padding:0
	margin:0;
	vertical-align:top;
}#map div{
	display:inline-block;
}