<table border="1" style="width:700px; height:350px;">
	<tr>
		<%= building_pop_up("inherit", "inherit", 1, 1, 27)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 28)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 29)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 30)%>
	</tr>	
</table>