<p>
<div id="legend">
	<h4 style="text-align:center; display:inline;">Legend</h4>
	<table style="width:275px;text-align:center;">
		<tr>
			<td>Occupied</td>
			<td>Vacant</td>
			<td>Unclean</td>
			<td>Late</td>
			<td>Damaged</td>
		</tr>
		<tr>	
			<td><div style="height:10px; border:1px solid #333; display:inline;" class="Occupied">&nbsp;&nbsp;&nbsp;&nbsp;</div></td>
			<td><div style="height:10px; border:1px solid #333; display:inline;" class="Vacant">&nbsp;&nbsp;&nbsp;&nbsp;</div></td>
			<td><div style="height:10px; border:1px solid #333; display:inline;" class="Unclean">&nbsp;&nbsp;&nbsp;&nbsp;</div></td>
			<td><div style="height:10px; border:1px solid #333; display:inline;" class="Late">&nbsp;&nbsp;&nbsp;&nbsp;</div></td>
			<td><div style="height:10px; border:1px solid #333; display:inline;" class="Damaged">&nbsp;&nbsp;&nbsp;&nbsp;</div></td>
			
		</tr>
	</table>		
</div>
</p>	