<div id="divide">
	<div>
		<%= link_to "Cancel", :action => "view_unit", :id => @unit.id %>
	</div>
</div>

<div id="content">

	<% if flash[:notice].nil? %>
		<% else %>
	<div id="helper">
		<%= textilize(flash[:notice])%>
	</div>
	<% end %>
	
	<h2>Add Customer</h2>
	
	<%= render :partial => "customer_form" %>
	
</div>	