<table style="width:500px;">
	<caption><b>Quick Customer Report</b></caption>
<% @total = 0 %>
<% for unit in @units %>
  <% unless unit.name.nil? %>
    	<tr><td><%= unit.name %></td> <td><%= number_to_currency( unit.monthly_price) %></td></tr>
  	<% @total += unit.monthly_price %>
	<% end %>
<% end %>
</table>

Total:  <%= number_to_currency(@total) %>
