<table style="width:500px;">
	<caption><b>Quick Customer Report</b></caption>
<% for unit in @units %>
  <% if unit.name.nil? %>
    <% else %>
    	<tr><td><%= unit.name %></td> <td><%= number_to_currency( unit.monthly_price) %></td></tr>
  <% end %>  
<% end %>
<%= @units.sum('monthly_price') %>
</table>