<div id="divide"></div>

<div id="content">
	
	<% if flash[:notice].nil? %>
		<% else %>
	<div id="helper">
		<%= textilize(flash[:notice])%>
	</div>
	<% end %>
		
	<div id="shed_status">
		<h3>Buildings</h3>
		<% if @buildings.size == 0 %>
		<p> You have no buildings for your company. Click <%= link_to "here", :controller => "buildings" %> to add them.</p>
		<% else %>
			<%= collection_select :form, :id, @buildings, :id, :name,
								  {:prompt => 'Select Building'},
			                      {:onChange => remote_function(:update => "unit_status", :url => { :action => :update_building },
																						  :with => "'building_id=' + value") } %>
		<% end %>

		<div id="unit_status">
			<%= render :partial => 'daily_stats'%>
		</div>
		
		<div>


		</div>	
	</div>
</div>
