<div class="no_print">
	<div id="flash">
		<p>Print this notice to give to the customer to sign to verify that they are moving out. Then click <%= link_to "continue", :action => "remove customer", :id => @unit.id %> to finish removing them from the database.</p>
	</div>
</div>

<p>Date</p>	